.contact {
	padding: 1px;
	color: $white;

	h2 {
		font-size: 2em;
		text-align: center;
		text-shadow: black 0 0 30px;
	}
	#profile-link {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
		align-items: stretch;
		margin: 25px auto;
		width: 100%;

		.profile-link {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
			width: 100%;
			font-size: 1.5em;
			text-align: center;
			margin: 5px;
		}

		a {
			display: block;
			min-width: 280px;
			padding: 5px;
			background-color: #555;
			margin: 5px auto;
			border-radius: 10px;
			background: rgba(0, 0, 0, 0.7);

			&:link {
				text-decoration: none;
				color: $white;
			}
			&:visited {
				color: $white;
			}
			&:hover {
				color: $hover-footer-link;
				background: $main-color;
			}
		}
	}
}
