footer {
	margin: 0;
	padding: 10px;
	color: $white;
	//background-color: $main-color;
	background-color: rgba(10, 10, 10, 0.9);
	box-shadow:  0 -8px 8px 0 rgba(0, 0, 0, 0.2), 0 -12px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	justify-content: center;
	
	&>div {
		margin: 10px 20px;
	}
	h3 {
		color: $hover-footer-link;
	}
	.contacts, .menu {
		width: 185px;
	}
	ul {
		list-style: none;
		font-size: 10pt;
		padding-left: 0px;

		li {
			padding: 5px;
		}
	}
	a {
		text-decoration: none;
		color: $white;

		&:hover {
			color: $hover-footer-link;
		}
	}
	.validation {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.visit {
		display: flex;
		justify-content: flex-start;
		div {
			margin: 0px;
		}
		.visit-button {
			font-size: 1.3em;
			width: 150px;
			height: 40px;
			margin-top: 0px;
			margin-bottom: 5px;
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			line-height: 2.2;
			border-radius: 5px;
			background-color: #15759F;
			&:hover {
				background-color: $hover-footer-link;
				cursor: pointer;
			}
		}
	}
}
