$main-color: #222;
$hover-footer-link: #42bff4;
$grey-text: #999;
$white: #fff;

header .wrap, body, nav, header ul, header li, section, a{
	padding: 0;
	margin: 0;
	border: 0;
}
.logo_wrap, .logo, .logo_name, nav, header ul, header li, a{
	display: inline-block;
}
* {
    box-sizing: border-box;
}
body {
	font-size: 12pt;
	font-family: sans-serif;
}
