$main-color: #222;
$hover-footer-link: #42bff4;
$grey-text: #999;
$white: #fff;
$black: #000;
$red: #ee3333;
$light-purple: #ee11ee;
$terminal-color: #33ee33;
$max-content-width: 1080px;

header .wrap, body, nav, header ul, header li, section, a{
	padding: 0;
	margin: 0;
	border: 0;
}
.logo_wrap, .logo, .logo_name, nav, header ul, header li, a{
	display: inline-block;
}
* {
    box-sizing: border-box;
}
body {
	font-size: 0.9em;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	background-color: #222;
	background: url(images/backgrounds/main-bg.jpg);
	background-position: 100% 100wh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.section-header {
	max-width: 280px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2), 6px 6px 20px 0px rgba(0, 0, 0, 0.19);
}


//Overriding some properties in Bootstrap
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
