$main-color: #222;
$hover-footer-link: #42bff4;
$grey-text: #999;
$white: #fff;
$black: #000;
$red: #ee3333;
$light-purple: #ee11ee;
$terminal-color: #33ee33;
$max-content-width: 1080px;

header .wrap, body, nav, header ul, header li, section, a{
	padding: 0;
	margin: 0;
	border: 0;
}
.logo_wrap, .logo, .logo_name, nav, header ul, header li, a{
	display: inline-block;
}
* {
    box-sizing: border-box;
}
body {
	font-size: 0.9em;
	font-family: Arial, sans-serif;
	line-height: 1.5;
}
.section-header {
	max-width: 280px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}