.portfolio {
	background-color: $main-color;
	box-shadow:  0px 0px 8px 8px rgba(0, 0, 0, 0.2), 0px 0px 20px 12px rgba(0, 0, 0, 0.19);
	h2 {
		text-align: center;
		font-size: 2em;
		color: $white;
	}
	.projects-wrap {
		padding-bottom: 25px;
		margin: auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.project-tile {
			display: flex;
			overflow: hidden;
			margin: 10px;
			background-color: $white;
			border-radius: 10px;
			border: 2px solid $grey-text;

			a {
				text-decoration: none;
				border: none;
				&:visited {
					text-decoration: none;
				}
				&:active {
					text-decoration: none;
				}
				&:hover {
					text-decoration: none;
				}
			}

			.project-image {
				display: flex;
				justify-content: center;
				align-items: center;
				max-width: 600px;
				max-height: 420px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}

			.project-description {
				max-width: 600px;
				padding: 10px;
				.project-description-header {
					color: $black;
				}
				p {
					text-align: center;
				}
				.visit {
					display: flex;
					justify-content: center;
					.visit-button {
						width: 150px;
						height: 40px;
						margin-top: 0px;
						margin-bottom: 5px;
						color: $white;
						text-decoration: none;
						text-transform: uppercase;
						text-align: center;
						line-height: 2.9;
						font-weight: bold;
						border-radius: 5px;
						background-color: $hover-footer-link;
						box-shadow: 0 5px 0 0 #15759F;
						transition: 0.2s;
						&:hover {
							margin-top: 5px;
							margin-bottom: 0px;
							box-shadow: none;
							transition: 0.2s;
							cursor: pointer;
						}
					}
				}
			}

			&:hover {
				border: 2px solid $hover-footer-link;
			}
		}
	}
}


// Media queries
@media screen and (max-width: 900px) {
	.portfolio {
		.projects-wrap {
			.project-tile {
				flex-direction: column;
				.project-image {
					order: 1;
					max-width: 600px;
					img {
						width: 100%;
					}
				}
				.project-description {
					order: 2;
				}
			}
		}
	}
}