header .wrap, body, nav, header ul, header li, section, a {
  padding: 0;
  margin: 0;
  border: 0; }

.logo_wrap, .logo, .logo_name, nav, header ul, header li, a {
  display: inline-block; }

* {
  box-sizing: border-box; }

body {
  font-size: 0.9em;
  font-family: Arial, sans-serif;
  line-height: 1.5; }

header {
  background-color: #222;
  min-height: 50px;
  margin: 0;
  position: sticky;
  z-index: 1;
  top: 0;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  header .logo_name {
    font-size: 1.5em;
    padding: 5px 0 0 0;
    color: #999;
    font-family: 'Audiowide', cursive; }
    header .logo_name img {
      height: 35px; }
  header nav {
    width: 270px;
    height: 50px;
    float: right; }
    header nav ul {
      height: 50px;
      list-style: none; }
    header nav li {
      float: left;
      width: 90px;
      height: 50px; }
    header nav a {
      text-decoration: none;
      width: 90px;
      height: 50px;
      text-align: center;
      padding: 10px;
      background-color: #222;
      color: #999;
      border-bottom: 5px solid #222; }
      header nav a:hover {
        color: #fff;
        transition: 0.3s;
        border-bottom: 5px solid #42bff4; }
      header nav a:active {
        background-color: #222;
        color: #fff; }
    header nav .active {
      background-color: #222;
      color: #fff;
      transition: 0.5s;
      border-bottom: 5px solid #42bff4; }

.about {
  background: url(images/backgrounds/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start; }
  .about h1 {
    margin: 10px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    text-shadow: #000 0 0 30px;
    flex-basis: 100%;
    align-self: center; }
  .about .wrapper-about {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; }
  .about .about-contact {
    display: inline-block;
    margin: 30px auto;
    font-size: 1.5em;
    text-align: center; }
    .about .about-contact a:link {
      text-decoration: none;
      color: #fff; }
    .about .about-contact a:visited {
      color: #fff; }
    .about .about-contact a:hover {
      color: #42bff4; }
  .about .card {
    font-size: 1.1em;
    margin: 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .about .card #about-me {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      max-width: 780px; }
    .about .card p {
      text-align: justify; }
    .about .card h2 {
      text-align: center;
      margin-top: 10px; }
    .about .card p.pAvatar {
      text-align: center; }
    .about .card .avatar {
      width: 210px;
      margin: auto;
      border-radius: 50%;
      border: 10px double #fff; }
    .about .card .technology {
      width: 70px; }

.portfolio {
  background-color: #222;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2), 0px 0px 20px 12px rgba(0, 0, 0, 0.19); }
  .portfolio h2 {
    text-align: center;
    font-size: 2em;
    color: #fff; }
  .portfolio .projects-wrap {
    padding-bottom: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .portfolio .projects-wrap .project-tile {
      display: flex;
      overflow: hidden;
      margin: 10px;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid #999; }
      .portfolio .projects-wrap .project-tile a {
        text-decoration: none;
        border: none; }
        .portfolio .projects-wrap .project-tile a:visited {
          text-decoration: none; }
        .portfolio .projects-wrap .project-tile a:active {
          text-decoration: none; }
        .portfolio .projects-wrap .project-tile a:hover {
          text-decoration: none; }
      .portfolio .projects-wrap .project-tile .project-image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        max-height: 420px;
        overflow: hidden; }
        .portfolio .projects-wrap .project-tile .project-image img {
          width: 100%; }
      .portfolio .projects-wrap .project-tile .project-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 600px;
        padding: 10px; }
        .portfolio .projects-wrap .project-tile .project-description .project-description-header {
          color: #000; }
        .portfolio .projects-wrap .project-tile .project-description p {
          text-align: center; }
        .portfolio .projects-wrap .project-tile .project-description .visit {
          display: flex;
          justify-content: center; }
          .portfolio .projects-wrap .project-tile .project-description .visit .visit-button {
            width: 150px;
            height: 40px;
            margin-top: 0px;
            margin-bottom: 5px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            line-height: 2.9;
            font-weight: bold;
            border-radius: 5px;
            background-color: #42bff4;
            box-shadow: 0 5px 0 0 #15759F;
            transition: 0.2s; }
            .portfolio .projects-wrap .project-tile .project-description .visit .visit-button:hover {
              margin-top: 5px;
              margin-bottom: 0px;
              box-shadow: none;
              transition: 0.2s;
              cursor: pointer; }
      .portfolio .projects-wrap .project-tile:hover {
        border: 2px solid #42bff4; }

@media screen and (max-width: 900px) {
  .portfolio .projects-wrap .project-tile {
    flex-direction: column; }
    .portfolio .projects-wrap .project-tile .project-image {
      order: 1;
      max-width: 600px; }
      .portfolio .projects-wrap .project-tile .project-image img {
        width: 100%; }
    .portfolio .projects-wrap .project-tile .project-description {
      order: 2; } }

.contact {
  padding: 1px;
  color: #fff;
  background-image: url(images/backgrounds/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .contact h2 {
    font-size: 2em;
    text-align: center;
    text-shadow: black 0 0 30px; }
  .contact #profile-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: 25px auto;
    width: 100%; }
    .contact #profile-link .profile-link {
      display: flex;
      align-items: center;
      align-self: center;
      height: 60px;
      width: 100%;
      font-size: 1.5em;
      text-align: center;
      margin: 5px; }
    .contact #profile-link a {
      display: block;
      min-width: 280px;
      padding: 5px;
      background-color: #555;
      margin: 5px auto;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.7); }
      .contact #profile-link a:link {
        text-decoration: none;
        color: #fff; }
      .contact #profile-link a:visited {
        color: #fff; }
      .contact #profile-link a:hover {
        color: #42bff4;
        background: #222; }

footer {
  margin: 0;
  padding: 10px;
  color: #fff;
  background-color: #222;
  box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, 0.2), 0 -12px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center; }
  footer div {
    margin: 10px 20px; }
  footer h3 {
    color: #42bff4; }
  footer .contacts, footer .menu {
    width: 185px; }
  footer ul {
    list-style: none;
    font-size: 10pt;
    padding-left: 0px; }
    footer ul li {
      padding: 5px; }
  footer a {
    text-decoration: none;
    color: #fff; }
    footer a:hover {
      color: #42bff4; }

@media screen and (max-width: 450px) {
  header .logo_name {
    display: none; }
  footer {
    display: none; } }

@media screen and (max-width: 800px) {
  header {
    position: static; }
  footer {
    display: none; } }
