header .wrap, body, nav, header ul, header li, section, a {
  padding: 0;
  margin: 0;
  border: 0; }

.logo_wrap, .logo, .logo_name, nav, header ul, header li, a {
  display: inline-block; }

* {
  box-sizing: border-box; }

body {
  font-size: 0.9em;
  font-family: Arial, sans-serif;
  line-height: 1.5; }

.section-header {
  max-width: 280px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2), 6px 6px 20px 0px rgba(0, 0, 0, 0.19); }

.about, .portfolio, .contact {
  background: url(images/backgrounds/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

header {
  background-color: #222;
  min-height: 50px;
  margin: 0;
  position: sticky;
  z-index: 1;
  top: 0;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  header .logo_name {
    font-size: 1.5em;
    padding: 5px 0 0 0;
    color: #999;
    font-family: 'Audiowide', cursive; }
    header .logo_name img {
      height: 35px; }
  header nav {
    width: 270px;
    height: 50px;
    float: right; }
    header nav ul {
      height: 50px;
      list-style: none; }
    header nav li {
      float: left;
      width: 90px;
      height: 50px; }
    header nav a {
      text-decoration: none;
      width: 90px;
      height: 50px;
      text-align: center;
      padding: 10px;
      background-color: #222;
      color: #999;
      border-bottom: 5px solid #222; }
      header nav a:hover {
        color: #fff;
        transition: 0.3s;
        border-bottom: 5px solid #42bff4; }
      header nav a:active {
        background-color: #222;
        color: #fff; }
    header nav .active {
      background-color: #222;
      color: #fff;
      transition: 0.5s;
      border-bottom: 5px solid #42bff4; }

.about {
  min-height: 100vh;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start; }
  .about h1 {
    margin: 10px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    text-shadow: #000 0 0 30px;
    flex-basis: 100%;
    align-self: center; }
  .about .wrapper-about {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; }
  .about .about-contact {
    display: inline-block;
    margin: 30px auto;
    font-size: 1.5em;
    line-height: 2.5em;
    text-align: center; }
    .about .about-contact a:link {
      text-decoration: none;
      color: #fff; }
    .about .about-contact a:visited {
      color: #fff; }
    .about .about-contact a:hover {
      color: #42bff4; }
  .about .card {
    font-size: 1.1em;
    margin: 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2), 6px 6px 20px 0px rgba(0, 0, 0, 0.19); }
    .about .card #about-me {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      max-width: 780px; }
    .about .card p {
      text-align: justify; }
    .about .card h2 {
      text-align: center;
      margin-top: 10px; }
    .about .card p.pAvatar {
      text-align: center; }
    .about .card .avatar {
      width: 210px;
      margin: auto;
      border-radius: 50%;
      border: 10px double #fff; }
    .about .card .technology {
      width: 70px; }

.portfolio h2 {
  text-align: center;
  font-size: 2em;
  color: #fff;
  margin: 10px 0; }

.portfolio .projects-wrap {
  padding-bottom: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .portfolio .projects-wrap .project-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 20px;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2), 6px 6px 20px 0px rgba(0, 0, 0, 0.19); }
    .portfolio .projects-wrap .project-tile:hover {
      transform: scale(1.02, 1.02);
      transition: 0.2s;
      box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.5), 6px 6px 20px 10px rgba(0, 0, 0, 0.19); }
    .portfolio .projects-wrap .project-tile a {
      text-decoration: none;
      border: none; }
      .portfolio .projects-wrap .project-tile a:visited {
        text-decoration: none; }
      .portfolio .projects-wrap .project-tile a:active {
        text-decoration: none; }
      .portfolio .projects-wrap .project-tile a:hover {
        text-decoration: none; }
    .portfolio .projects-wrap .project-tile .project-image {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      max-height: 420px;
      overflow: hidden;
      order: 1; }
      .portfolio .projects-wrap .project-tile .project-image img {
        width: 100%; }
    .portfolio .projects-wrap .project-tile .project-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-width: 600px;
      padding: 10px;
      order: 2; }
      .portfolio .projects-wrap .project-tile .project-description .project-description-header {
        color: #000;
        font-size: 1.7em; }
      .portfolio .projects-wrap .project-tile .project-description p {
        text-align: center; }
      .portfolio .projects-wrap .project-tile .project-description .technologies {
        font-weight: bold;
        font-size: 1.1em; }
      .portfolio .projects-wrap .project-tile .project-description .visit-buttons {
        display: flex; }
      .portfolio .projects-wrap .project-tile .project-description .visit {
        display: flex;
        justify-content: center;
        margin: 10px; }
        .portfolio .projects-wrap .project-tile .project-description .visit .visit-button {
          font-size: 1.3em;
          width: 150px;
          height: 40px;
          margin-top: 0px;
          margin-bottom: 5px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          line-height: 2.2;
          border-radius: 5px;
          background-color: #42bff4;
          box-shadow: 0 5px 0 0 #15759F;
          transition: 0.2s; }
          .portfolio .projects-wrap .project-tile .project-description .visit .visit-button:hover {
            margin-top: 5px;
            margin-bottom: 0px;
            background-color: #15759F;
            box-shadow: none;
            transition: 0.2s;
            cursor: pointer; }

.contact {
  padding: 1px;
  color: #fff; }
  .contact h2 {
    font-size: 2em;
    text-align: center;
    text-shadow: black 0 0 30px; }
  .contact #profile-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: 25px auto;
    width: 100%; }
    .contact #profile-link .profile-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 100%;
      font-size: 1.5em;
      text-align: center;
      margin: 5px; }
    .contact #profile-link a {
      display: block;
      min-width: 280px;
      padding: 5px;
      background-color: #555;
      margin: 5px auto;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.7); }
      .contact #profile-link a:link {
        text-decoration: none;
        color: #fff; }
      .contact #profile-link a:visited {
        color: #fff; }
      .contact #profile-link a:hover {
        color: #42bff4;
        background: #222; }

footer {
  margin: 0;
  padding: 10px;
  color: #fff;
  background-color: #222;
  box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, 0.2), 0 -12px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center; }
  footer div {
    margin: 10px 20px; }
  footer h3 {
    color: #42bff4; }
  footer .contacts, footer .menu {
    width: 185px; }
  footer ul {
    list-style: none;
    font-size: 10pt;
    padding-left: 0px; }
    footer ul li {
      padding: 5px; }
  footer a {
    text-decoration: none;
    color: #fff; }
    footer a:hover {
      color: #42bff4; }

@media screen and (max-width: 1920px) {
  .portfolio .projects-wrap .project-tile {
    max-width: 500px; } }

@media screen and (max-width: 1620px) {
  .portfolio .projects-wrap .project-tile {
    max-width: 400px; } }

@media screen and (max-width: 1320px) {
  .portfolio .projects-wrap .project-tile {
    max-width: 600px; } }

@media screen and (max-width: 1280px) {
  .portfolio .projects-wrap .project-tile {
    max-width: 500px; } }

@media screen and (max-width: 1080px) {
  .portfolio .projects-wrap .project-tile {
    max-width: 400px; } }

@media screen and (max-width: 900px) {
  .portfolio .projects-wrap .project-tile {
    max-width: 600px;
    margin: 20px 10px; } }

@media screen and (max-width: 800px) {
  header {
    position: static; }
  footer {
    display: none; } }

@media screen and (max-width: 450px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .portfolio .projects-wrap .project-tile .project-description .visit-buttons {
    flex-direction: column; }
  footer {
    display: none; } }
