:root {
  --main-color: #222;
  --hover-footer-link: #42bff4;
}


header .wrap, nav, header ul, header li, a{
	padding: 0;
	margin: 0;
	border: 0;
}
.logo_wrap, .logo, .logo_name, nav, header ul, header li, a{
	display: inline-block;
}
* {
    box-sizing: border-box;
}


body {
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-family: sans-serif;
}

/*start stylization of header----------------------------*/
header {
	background-color: var(--main-color);
	min-height: 50px;
	margin: 0;
	position: sticky;
	z-index: 1;
	top: 0;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.logo_name {
	max-width: 200px;
	font-size: 1.5em;
	color: #fff;
	padding: 0;
	margin: 5px;
	color: #999;
	font-family: 'Audiowide', cursive;
}
header nav {
	width: 270px;
	height: 50px;
	float: right;
}
header ul {
	height: 50px;
	list-style: none;
}
header li {
	float: left;
	width: 90px;
	height: 50px;
}
header li a {
	text-decoration: none;
	width: 90px;
	height: 50px;
	text-align: center;
	padding: 10px;
	background-color: var(--main-color);
	color: #aaa;
	border-top: 5px solid #222;
}
header .active {
	background-color: var(--main-color);
	color: #fff;
	transition: 0.5s;
	border-top: 5px solid #42bff4;
}
header li a:hover {
	color: #fff;
	transition: 0.3s;
	border-top: 5px solid #42bff4;
}
header li a:active {
	background-color: var(--main-color);
	color: #fff;
}
/*end stylization of header------------------------------*/


main {
	margin: 0 auto;
	background-color: #fff;
}
section {
	display: block;
	border-bottom: 1px solid #000;
}
h2 {
	text-align: center;
	margin-top: 50px;
}

/*start stylization of section About---------------------*/
.about {
	background-image: url(images/backgrounds/main-bg.jpg);
	height: 100vh;
	min-height: 600px;
	padding: 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: flex-start;
}
.about h1 {
	margin-top: 50px;
	color: #fff;
	font-size: 2em;
	text-align: center;
	text-shadow: black 0 0 30px;
	flex-basis: 100%;
	align-self: flex-start;
	font-family: 'Audiowide', cursive;
}
.about .card {
	max-width: 400px;
	padding: 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.about .card p {
	color: #fff;
}
.card img {
	width: 250px;
	margin: 10px;
	border-radius: 50%;
}

/* start stylization of portfolio section */
.projects-wrap {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
/*start stylization of project cards---------------------*/
.project-tile {
	padding: 5px;
	max-width: 450px;
}
.card_wrap {
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card_wrap:hover {
	border: 5px solid var(--hover-footer-link);
}
.project-tile img {
	width: 100%;
	height: auto;
}
.desc {
	padding: 15px;
	text-align: center;
}

/*end stylization of project cards-----------------------*/

/* stylization of contact section */
#profile-link {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	margin: 100px auto;
	max-width: 1200px;
}
#profile-link a:link {
	margin: auto;
	text-decoration: none;
	color: #000;
}
#profile-link a:visited {
	color: #000;
}
#profile-link a:hover {
	color: var(--hover-footer-link);
}

.profile-link {
	align-self: center;
	max-width: 450px;
	height: 100px;
	font-size: 2.5em;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

/* stylization of footer section */
footer {
	margin: 0;
	padding: 10px;
	color: #fff;
	background-color: var(--main-color);
	box-shadow:  0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer h3 {
	color: var(--hover-footer-link);
}

footer .contacts ul {
	list-style: none;
	font-size: 10pt;
}

footer .contacts li {
	padding: 5px;
}

footer .contacts a {
	text-decoration: none;
	color: #fff;
}

footer .contacts a:hover {
	color: var(--hover-footer-link);
}

/* Media quaries */
@media screen and (max-width: 450px) {
	header .logo_name {
		display: none;
	}
}